body{    
	font-family: "Microsoft Yahei", "冬青黑体简体中文 w3";
    font-size: 13px;
    background: #f5f5f5;
    color: #656565;
    letter-spacing: 0.5px;
}
*{ padding:0px; margin:0px; word-break:normal;}
a{ text-decoration: none;color:#656565; cursor:pointer;}
a:hover{ text-decoration: none;color:#428bca;}
ul,ol,dl{ list-style:none; margin:0; padding:0;}
.grey{color:#a2a2a2;}
.orgnge{color:#428bca;}
/*-----------头部-------------------------------------------------------------------------------------------------------*/
div.header{  width: 100%;  margin: 0px auto; }
div.header.fixed_top{border-bottom: 1px solid #ececec;background: white;position:fixed; top:0; z-index: 9999;}
div.header.nofixed_top{border-bottom: 0px solid #ececec;background: #f5f5f5; position:relative;}
.nav_menu_logo{ text-align: left; margin-top: 0px;}
.nav_menu_logo img{ width:auto; height:70px;}
.nav_menu{ height:70px; line-height: 70px; font-size: 16px; color:#656565;}
.nav_menu li{ float: right; text-align: center; width:10%; position:relative;}
.nav_menu li a{color:#656565; display:block; width:100%; height:100%;}
.nav_menu li.active a{color:#428bca; }
.nav_menu li a:hover{color:#428bca; }
.nav_menu li span{ line-height: 15px; position:absolute; width:100%; text-align: center; left: 0%; display:none; top:40px; 
  font-size: 10px;color:#a2a2a2; font-family: 'Georgia', 'serif';}
/*-----------body------------------------------------------------------------------------------------------------------*/
.main_main{border: 1px solid #ececec;  background:white;margin: 10px auto; padding: 20px;}
/*-----------左边-------------------------------------------------------------------------*/
.side_main{position:relative; margin-bottom: 20px; }
.title_band{ margin:0;}
.title_band p a{color:#428bca; font-size: 20px;}
.title_band footer span{ padding:0 10px;}
.title_band footer span i{ font-style: normal; color:#428bca;}
.title_band_detail{ text-indent:2rem; line-height: 25px; margin-bottom: 25px;}

dl.title_word{ width:100%; margin:20px 0; border-bottom: 1px dashed #ececec; padding:0 0 20px;}
dl.title_word:after{ content:''; clear: both;}
dl.title_word dt{ width:25%; float: left; height:auto; overflow: hidden; position:relative;}
dl.title_word dt img{ width:100%; height:auto;transition: All 0.4s ease-in-out; }
dl.title_word dt img:hover{ transform: scale(1.3);-webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);}
dl.title_word dd{ width:73%; float: right; line-height: 25px; overflow: hidden;}
dl.title_word dd.dd_title{ font-style: weight; font-size: 16px; line-height: 28px; width:73%; height:28px; overflow:hidden; text-overflow:ellipsis;}
dl.title_word dd.dd_date{ font-size: 12px; line-height: 20px;}
dl.title_word dd.dd_date span{ padding:0 10px;}
dl.title_word dd.dd_date span i{ font-style: normal; color:#fd8a61;}
dl.title_word dd.dd_detail{ display:block;}
.pagination>li>a{color: #656565;}
.pagination>li>a:hover{color: #428bca;}
/*-----------右边-------------------------------------------------------------------------*/
.side_right{ padding-left: 50px;position:relative; }
.right_menu{width:100%;}
.right_menu_t{font-size: 17.5px; line-height: 24px; margin:13px 0;    border-left: 2px solid #428bca;padding-left: 10px;}
.right_menu_b{ width:100%;}
.band_ul li{ float: left; width:auto; margin:5px 15px 5px 0;}
.band_ul li a{ display:block; border:1px dashed #ececec; padding:5px; transition:All 0.3s;}
.band_ul li a:hover{ color:white; background:#428bca; border:1px dashed #428bca;}
.file_ul li{ border-bottom: 1px dashed #ececec; line-height: 40px; height:40px; text-overflow:ellipsis; overflow:hidden; width:100%;} 
.ul_about img{ width:85%; height:auto;}
.class_ul li{ width:48%; float:left; margin:6px 1%; border:1px dashed #ececec; text-align: center; height:35px; 
  line-height: 35px;transition: all 1s;}
.class_ul li:hover{-webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);border:1px solid #ececec;}
.class_ul li a{ display:block; width:100%;height:35px; }
.class_ul li:nth-child(1) a:hover{ color:white; background:#fd8a61;}
.class_ul li:nth-child(2) a:hover{ color:white; background:#428bca;}
.class_ul li:nth-child(3) a:hover{ color:white; background:#339967;}
.class_ul li:nth-child(4) a:hover{ color:white; background:#FE5187;}
.right_menu.fixed_top{position:fixed; top:0; z-index: 9999; width:auto;}
/*-----------底部------------------------------------------------------------------------------------------------------*/
footer{width:100;}
.detail_footer_ul{ float: right; margin-top: 17.5px;}
.detail_footer_ul li{ float: left; margin-right: 20px; line-height: 35px;}
.detail_footer_ewm{ float:right; margin-right: 20px;margin-top: 17.5px;}
.detail_footer_ewm li { float:left; width:35px; height:35px; border-radius: 35px; background:#c2c2c2; text-align: center; line-height: 32px;
margin-right: 15px; position:relative; transition:All 0.3s;}
.detail_footer_ewm li:hover{background:#428bca;} 
.detail_footer_ewm li img.ewm_small{ width:35px; height:35px; cursor:pointer;}
.detail_footer_ewm li img.ewm_img{ width:120px; height:120px; cursor:pointer; display:none; position:absolute;top: -130px;
    left: -45px; background:white; padding:10px;}
.footer_word{ width:100%; text-align: left; color:#999; background:#232323; line-height: 30px; margin-top: 25px; padding:20px;}
.footer_l{float:left;}
.footer_l ul{ margin-left: 15px;}
.footer_l ul li{ float:left; padding-right: 15px;}
.footer_l ul li a{ color:#999;}
.footer_l ul li a:hover{color:#428bca;}
.footer_word span{ padding:0 15px;}
.footer_word span a{color:#999;}
.scroll {
    width: 40px;
    height: 40px;
    background: #428bca;
    color: #fff;
    line-height: 34px;
    text-align: center;
    position: fixed;
    right: 30px;
    bottom: 173px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2px;
}
/*-----------列表导航------------------------------------------------------------------------------------------------------*/
.son_menu{ font-size: 16px; line-height: 50px;}
.son_menu span{ padding:0 10px;}
/*-----------作品列表------------------------------------------------------------------------------------------------------*/
.note_outerleft{ border-right: 2px solid #ececec; position:relative;}
.note_outerleft span.circle{ width:8px; height:8px; border-radius: 8px; background:#ececec; position:absolute; right:-5px; top:28px;}
.note_outerleft span.circle.bg_add{background:#428bca; }
dl.note_left{  width:97%;   margin: 20px 10px;padding: 20px;background: #f5f5f5;border-radius: 20px;}
dl.note_left:hover{ background:#f1f1f1;}
dl.note_left.bg_add{background:#f1f1f1;}
dl.note_left:after{ content:''; clear: both;}
dl.note_left dt{ width:25%; float: left; height:auto; overflow: hidden; position:relative;}
dl.note_left dt img{ width:100%; height:auto;transition: All 0.4s ease-in-out; }
dl.note_left dt img:hover{ transform: scale(1.3);-webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);}
dl.note_left dd{ width:73%; float: right; line-height: 30px; overflow: hidden;}
dl.note_left dd.dd_title{ font-style: weight; font-size: 16px; line-height: 28px; width:73%; height:28px; overflow:hidden; text-overflow:ellipsis;}
dl.note_left dd.dd_date{ font-size: 12px; line-height: 20px;}
dl.note_left dd.dd_date span{ padding:0 10px;}
dl.note_left dd.dd_date span i{ font-style: normal; color:#fd8a61;}
dl.note_left dd.dd_detail{ display:block;}

.note_right{width:120px; height:40px; text-align: center; line-height: 40px; background:#428bca; border-radius: 0 40px; color:white;
margin: 30px 0 0 30px;}
/*-----------详情页------------------------------------------------------------------------------------------------------*/
.h1_title{ font-size: 24px; color:#428bca; text-align: center;}
p.h1_date{text-align: center; border-top: 1px dashed #ececec;border-bottom: 1px dashed #ececec; line-height: 25px;}
p.h1_date span{ padding:0 10px ; color:white;}
p.h1_date  i{ font-style: normal;}
.detail_content img{ max-width: 100%; }
/*-----------关于------------------------------------------------------------------------------------------------------*/
.about_ul{ width:auto; height:35px; font-size: 16px;border-bottom: 1px solid #ececec; margin:10px auto 0px;}
.about_ul li{float: left; width:100px; height:35px; text-align: center; cursor:pointer;}
.about_ul li.tab{ border-bottom: 2px solid #428bca;color:#428bca;}
.about_ul li.tab a{color:#428bca;}
.about_ul.fixed_top{position:fixed; top:0; }
.detail_content{ padding-top: 55px; display:none;}
.about_p{ font-size: 16px; line-height: 30px;}
.about2_dl{width:100%; }
.about2_dl dt,.about2_dl dd{line-height: 45px;font-size: 16px; }
.about2_dl dt{width:80px; float: left; text-align: right; padding-right: 10px;}
.about2_dl dd{width:200px; float: left; }

.about_money{ width:120px; float: left; border-right: 1px solid #ececec;}
.about_money li{ width:120px; height:40px; line-height: 40px; text-align: center; font-size: 16px;}
.about_money li.tab{ border:1px solid #ececec; border-right: 1px solid white; color:#428bca;}
.about_money li i{ font-style: normal;}
.about_money li.tab i{color:#fd8a61; font-style: normal;}
.about_money_r{ width:200px; float: left; height:200px; text-align: center; margin-bottom: 50px;}
.about_money_r p{width:200px; text-align: center; height:50px; line-height: 50px; font-size: 20px;color:#428bca;}
.about_money_r img.ewm{width:145px; height:145px; display:none;}
@media only screen and (min-width: 1024px){
   header {
    width: 1250px;
    height: 70px;
    margin: 0px auto 0px;
    padding: 0px 0px;
   }
   .detail_footer {
    width: 1250px;
    height: auto;
    margin: 30px auto;
   }
   .container {
    width: 1250px;
   }
} 
@media only screen and (max-width: 1024px) and (min-width: 768px){
   header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0px;
   }
   .detail_footer {
    width: 100%;
    margin: 20px auto;
   }   
   dl.title_word dd{ line-height: 20px; }
   div.header{margin: 0px auto;}
   .container {
    width: 100%;
   }
   .note_outerleft{ border-right: 0px solid #ececec; }
   .note_outerleft span.circle{ display:none;}
   .note_right{display:none;}
}
@media only screen and (max-width: 768px) and (min-width: 500px){
  header {
    width: 100%;
   }
   .detail_footer {
    width: 100%;margin: 10px auto;
   }
   div.header{margin: 0px auto;}
   div.header{margin: 0px auto;}
   .container {width: 100%;}
   .title_band p a{font-size: 18px;}
   dl.title_word dt{ height:100px; }
   dl.title_word dt{ width:20%; }
   dl.title_word dd{ width:78%; }
   dl.title_word dd.dd_title{ width:78%; }
   .side_right{ padding-left: 20px;}
   dl.title_word{  margin:10px 0; padding:0 0 10px;}
   dl.title_word dt{  height:120px; }
   .note_outerleft{ border-right: 0px solid #ececec; }
   .note_outerleft span.circle{ display:none;}
   .note_right{display:none;}
   .son_menu{ font-size: 14px; line-height: 30px;}
   .h1_title{ font-size: 14px;  text-align: left;}
}
@media only screen and (max-width: 500px){
   .detail_footer {
    width: 100%;margin: 10px auto;
   }
   .container {width: 100%;}
   .title_band p a{font-size: 16px;}
   div.header{margin: 0px auto;}
   .nav_menu li{ width:20%;}
   dl.title_word dt{ height:100px; }
   dl.title_word dt{ width:20%; }
   dl.title_word dd{ width:78%; }
   dl.title_word dd.dd_title{ width:78%;font-size: 14px; height:20px; line-height: 20px; }
   dl.title_word{  margin:10px 0; padding:0 0 10px;}
   dl.title_word dd.dd_detail{ display:none;}
   dl.title_word dt{  height:50px; }
   dl.title_word dd.dd_date span{ padding:0 5px;}
   .side_right{ padding-left: 20px;}
   dl.title_word dt img:hover{ transform: scale(1);-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);}
   .note_outerleft{ border-right: 0px solid #ececec; }
   .note_outerleft span.circle{ display:none;}
   .note_right{display:none;}
   dl.note_left dd.dd_detail{display:none;}
   dl.note_left dt img:hover{ transform: scale(1);-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);}
   .son_menu{ font-size: 14px; line-height: 30px;}
   .h1_title{ font-size: 14px;  text-align: left;}
}














